.container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  width: 35%;
  & h1 {
    margin-bottom: 5rem;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  & button {
    margin-top: 4rem;
    display: flex;
    gap: 0.6rem;
    & span svg {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }
  }
}

@media (max-width: 900px) {
  .container {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .container {
    width: 95%;
    .form {
      gap: 1rem;
    }
    & h1 {
      font-size: 2rem;
    }
  }
}
