.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  width: 30%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & button {
    margin-top: 4rem;
    display: flex;
    gap: 0.6rem;
    & span svg {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }
  }
}
