.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  & > h1 {
    width: 60%;
    align-self: center;
    text-align: center;
  }
}
.svg-container {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}
