.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  & > h1 {
    width: 60%;
    align-self: center;
    text-align: center;
    color: var(--color-grey-3);
  }
}
.svg-container {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}

@media (max-width: 630px) {
  .container h1 {
    width: 100%;
    font-size: 2rem;
  }
  .svg-container {
    flex-direction: column;
    align-items: center;
    & svg {
      width: 50%;
    }
  }
}
@media (max-width: 400px) {
  .svg-container {
    & svg {
      width: 80%;
    }
  }
}
