.profile-container {
  width: "max-content";
  max-width: fit-content;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
  .profile-container {
    display: flex;
    justify-content: center;
  }
}
